{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<header class="masthead">
    <div class="container px-4 px-lg-5 h-75">
        <p class="text-white font-weight-bold">Top 10 mejores puntuados: </p>
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-12 text-white box">
                <br>
                <table class="align-items-center text-black" id="customers">
                    <tr>
                        <th class="text-center">Usuario</th>
                        <th class="text-center">Puntaje</th>
                    </tr>
                {% for u in usuario %}  
                    <tr>        
                        <td> {{u.username}} </td>
                        <td> {{u.puntaje_total}} </td>
                    </tr>
                {% endfor %}
                </table>
                <br><br>
            </div>
        </div>
    </div>
</header>

{% endblock contenido %}